

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 10;
  background-color: greenyellow;
}


.header-right-side {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.header-right-side p {
  font-size: 20px;
  padding: 5px;

}